@charset "utf-8";
/*
deneme
deneme
*/
select {
    padding:3px;
    padding-left:10px;
    background: #fff;
    color:#58585c;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
}
;
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:25px}
}

.dropdown-label{position:relative}
.dropdown-label:after {
    content:'>';
	top: -2px;
    font:20px "Consolas", monospace;
    color:#056380;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:12px; 
    padding:0 0 px;
    position:absolute;
    pointer-events:none;
}
.dropdown-label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
     position:absolute;
	 background-color:transparent;
    pointer-events: none;
    display:block; }




	
.radius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
		}
	
.textboxes {
    padding:3px;
    padding-left:10px;
    margin: 0;
    background: #e5e5e4;
    color:#58585b;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/*buttons */

.btn {
	overflow:hidden;
	margin-bottom:3px;
	height: 18px;
	white-space: nowrap;
	text-align:left;
	padding: 6px 5px 6px 5px;
	font-size: 14px;
	
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
 	outline: 0 none;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	background-color: #4eb6a8;
	box-shadow: 0px 3px 0px 0px #29a290;
}
.btn:active {
	background-color: #29a290;
}
.btn.img{
padding: 10px 5px 5px 0px;
}
.btn.red{
background-color: #cf5827;
	-webkit-box-shadow: 0px 3px 0px 0px #95301f;
	-moz-box-shadow: 0px 3px 0px 0px #95301f;
	box-shadow:0px 3px 0px 0px #95301f;
}
.btn.red:active{
background-color: #95301f;

}
.btn.grey{
background-color: #a7a9ab;
-webkit-box-shadow: 0px 0px 0px 0px #95301f;
	-moz-box-shadow: 0px 0px 0px 0px #95301f;
	box-shadow:0px 0px 0px 0px #95301f;
}
.btn.grey:active{
background-color: #97a9a9;
-webkit-box-shadow: 0px 0px 0px 0px #95301f;
	-moz-box-shadow: 0px 0px 0px 0px #95301f;
	box-shadow:0px 0px 0px 0px #95301f;
}

/*buttons */


/*genel */

.clearfix{
clear:both;

}
.float-left{
float:left;
}
.float-right{
float:right;
}

/*genel */

/* toolbox items  */
.text-options{
 display:inline-block;
}
.image-options{
 display:inline-block;
}
.shape-options{
 display:inline-block;
}

.toolbox-items{
width:35px;
 height:25px;
 padding-top:8px;
 text-align:center; 
 display:inline-block;
 vertical-align:middle;

}

.toolbox-items:hover
{
-webkit-box-shadow:  0px 0px 3px 0px rgba(100, 100, 100, 100);
 box-shadow:  0px 0px 3px 0px rgba(100, 100, 100, 100);
}
.toolbox-items:active
{
background-color:#f7f7f7;
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(100, 100, 100, 100);
 box-shadow: inset 0px 0px 3px 0px rgba(100, 100, 100, 100);
}
.icon-undo
{
margin-right: 20px;
}
.icon-redo
{
margin-right: 20px;
}
/* end of toolbox items */




/* Colors */


.dark-green
{
	color:#29a290;
}
.light-green
{
	color:#4eb6a8;
}

.light-blue
{
	color:#056380;
}
.dark-blue
{
	color:#084f5f;
}

.light-red
{
	color:#cf5827;
}
.dark-red
{
	color:#95301f;
}

.grey-10
{
	color:#404041;
}
.grey-9
{
	color:#58585b;
}
.grey-8
{
	color:#6d6e70;
}
.grey-7
{
	color:#808284;
}
.grey-6
{
	color:#939597;
}
.grey-5
{
	color:#a7a9ab;
}
.grey-4
{
	color:#bbbdc0;
}
.grey-3
{
	color:#d1d1d1;
}
.grey-2
{
	color:#e6e7e8;
}
.grey-1
{
	color:#f4f4f4;
}
.black
{
	color:#000000;
}
.white
{
	color:#ffffff;
}


.bck-dark-green
{
	background-color:#29a290;
	}
.bck-light-green
{
	padding:5px 8px 5px 5px;
	background-color:#4eb6a8;
	font-style: normal !important;
}

.bck-light-blue
{
	background-color:#056380;
}
.bck-dark-blue
{
	background-color:#084f5f;
	padding:8px 5px 0px 5px;
}

.bck-light-red
{
	background-color:#cf5827;
}
.bck-dark-red
{
	background-color:#95301f;
}

/* End of Colors */



/* icon sizes */
.size-10
{
	font-size: 10px;
}

.size-15
{
	font-size: 15px;
}

.size-20
{
	font-size: 20px;
}

.size-25
{
	font-size: 25px;
}

.size-30
{
	font-size: 30px;
	
}
.size-40
{
	font-size: 40px;

}
.size-50
{
	font-size: 50px;
}

/* End of icon sizes */




/* HEADER --------------------------------------------------------*/


#book_title {
 width:100%;
 min-width:1366px;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 margin-top:-25px;
 font-weight:bold;

}



select#general-options {
	background-color:#e6e7e8;
	line-height:1.5em;

}


select#general-options  option:first-child{
	display:none;
}

label#options:after {
	margin-top:-10px;
}


#header-buttons {
	width: auto !important;
	float: right;
	margin-right:5px;
	margin-top: 2px;
	font-size: 15px;
}

#header-buttons i.icon-save:before{
	width:auto !important;
}

#header-buttons i.icon-publish:before{
	width:auto !important;
}


#search {
 width:75px;
 height:auto;
 border:0;
 resize: none;
 font-size:15px;
 padding-left:10px;
 font-family:Calibri;
 line-height:1.75em;
 font-weight:bold;
 color:#58585B;
 white-space: nowrap;
 overflow:hidden;
 background-color:#E6E7E8;
 background-size:20px;
 background-position:90% 45%;
 background-repeat:no-repeat;
 -webkit-transition: width 0.3s linear;
 -moz-transition: width 0.3s linear;
 -ms-transition: width 0.3s linear;
 -o-transition: width 0.3s linear;
 transition: width 0.3s linear;

}

#search:hover {
 width:150px; 
}




select#user-account {
	background-color:#e6e7e8;
	line-height:1.5em;
	float:right;
}


select#user-account  option:first-child{
	display:none;
}

label#user:after {
	content:"";
}




/* END OF HEADER --------------------------------------------------------*/


/* ruler */
.hruler{
position:absolute;
top:0; 
left: 135px;

}

.vbruler{
position:absolute;
top: 15px;
left: 118px;
}

#ruler .cm {
		width: 1cm;
		float:left; 
		font-size:9px;
	}

	
	

.ruler, .ruler li {
    margin: 0;
    padding: 0;
	font-size: 8px;
    list-style: none;
    display: inline-block;
}
/* IE6-7 Fix */
.ruler, .ruler li {
    *display: inline;
}



.ruler {
    background: lightYellow;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #333;
    margin: 0;
    height: 2em;
    padding-right: 1cm;
    white-space: nowrap;
}
.ruler li {
    padding-left: 0.99cm;
    width: 2em;
    margin: .54em -2em -.40em;
    text-align: center;
    position: relative;
  
}
.ruler li:before {
    content: '';
    position: absolute;
    border-left: 1px solid #ccc;
    height: .64em;
    top: -.64em;
    right: 1em;
}

/* vruler */

	

.vruler, .vruler li {
    margin: 0;
    padding: 0;
		font-size: 8px;
    list-style: none;
    display: inline-block;
}
/* IE6-7 Fix */
.vruler, .vruler li {
    *display: inline;
}





.vruler {
    background: lightYellow;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #333;
	text-align: center;
    margin: 0;
    width: 2em;
	padding-top:20px;
    white-space: nowrap;
}
.vruler hr{
margin: 0 0 10px;
}




.vruler li {
     text-align: center;
    position: relative;
  
}

/* vruler */



/* ruler */




/* components */




ul li.left_bar_titles {
 background-color:#939597;
 color:#404041;
 height:20px;
 line-height:1.4em;
 text-align:left;
 padding-left:7px;
 margin-bottom:10px;
 font-weight:bold;
 text-transform:uppercase;
 padding-bottom:0 !important;
}

ul.component_holder {
font-size:13px;
padding:0px;
margin:0px;
}

ul.component_holder li {
 display:block;
 padding-bottom:10px;
 padding-left:10px;
 color:#404041;
 cursor:pointer;
}

.quiz-component{
outline: 10px solid rgb(235, 235, 235);
padding: 20px;
max-width: 400px;
}
.quiz-component div{
margin: 5px 0px;
}





/* end of components */

/* popups*/



	div.popup{
	position:fixed;
	width:auto;
	min-width:200px;
	top:75px;
	left:1000px;
	text-align:center;
	height:auto;
	min-height:50px;
	margin:10px;
	padding-bottom:20px;
	z-index:99999;
	display:none;
	padding: 0px 0px 10px 0px;
	background-color:#f4f4f4;
	cursor:pointer;
	border: 2px solid #d1d2d4;
	-moz-box-shadow:    0px 1px 4px 0px #ccc;
	-webkit-box-shadow: 0px 1px 4px 0px #ccc;
	box-shadow:         0px 1px 4px 0px #ccc;
	}

	
	.popup-header {
	background-color:#939597;
	color:#404041;
	font-weight:bold;
	padding:4px 0px;
	width:100%;
	
	}
	
	.popup-close {
	float:right;
	position:relative;
	width:15px;
	height:100%;
	vertical-align:middle;
	font-family:helvetica;
	margin-right:5px;
	
	}
	.popup-inner-title 
	{
	font-weight:normal;
	color: #58585b;
	text-align:left;
	padding: 10px 0px 5px 20px;
	}
	
	.horizontal-line
	{
	height:1px;
	width:100%;
	background-color:#d1d2d4;
	}
	
	
	div.popup-even{
	display:table;
    width:100%;
	}	
	
	div.popup-even i{
	display:table-cell;
	padding:10px 0px;
    text-align:center;
	}
		
	div.popup-even i:hover{
	background-color: #e6e7e8;
		}
	#pop-arrange-popup i{
	float:none;
	display:block;
	text-align:left;
	padding: 10px;
	}	

#pop-arrange-popup i a{ 
	color:#58585b;
	font-style:normal;
	font-size:15px;
}	
#pop-arrange-popup i:hover{
	background-color: #e6e7e8;
	
}	
/* popup galeri */

.gallery-inner-holder { 
 width:300px; 
 height:auto;
 font-weight:bold;
 padding:20px;
}

.add-image-drag-area{
margin:0 auto 20px auto;
width:100%; 
height:200px;
line-height:5em;
background: url(drag-drop-default-image.png) center center no-repeat;
background-size: contain;
background-color:#E9E9E9;
-webkit-box-shadow: inset 0 0 10px #939597;
 -moz-box-shadow: inset 0 0 10px #939597;
box-shadow: inset 0 0 10px #939597;
border:3px dashed #4eb6a8;
}
.input-textbox {
margin: 10px auto 20px auto;
height: auto;
border: 0;
resize: none;
font-size: 15px;
width: 250px;
font-family: Calibri;
line-height: 2em;
font-weight: bold;
color: #58585B;
white-space: nowrap;
overflow: hidden;
background-color: #E6E7E8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.chart-textbox{
width: 60px;
height: 30px;
background-color: #e5e5e4;
border: 0;
padding-left: 10px;
margin:10px;
}

.chart-textbox-wide{
width: 120px;
height: 30px;
background-color: #e5e5e4;
border: 0;
padding-left: 10px;
margin:5px 10px;
}

.slice-holder{
text-align:left;
margin-bottom:20px;
border-bottom: 1px solid #d1d2d4;


}
/*quiz popups*/
.popup-text-area{
max-width:280px; 
min-width:280px; 
max-height:500px; 
min-height:100px;
border:none;
background-color: #e5e5e4;

}

.popup-choices-area{
max-width:280px; 
min-width:280px; 
max-height:150px; 
min-height:50px;
border:none;
background-color: #e5e5e4;
}
.quiz-inner{
text-align:left;

}

/*quiz popups*/


	/*end of popups */

		
	/*chapter viewer styles */
.chapter-view{
position: fixed;
top: 83px;
bottom: 0px;
width: 150px;
border-left: 2px solid #d1d2d4;
right: 0px;
overflow: auto;
overflow-x: hidden;
background: #f4f4f4;
padding-bottom: 60px;
z-index: 9999;

}

#chapters_pages_view .page{
border:1px solid #000;
width:120px;
height:90px;
position:relative;
margin:10px 0px 0px 20px;



}

#chapters_pages_view .chapter .pages {
list-style:none;
padding:0px;
margin:0px;
padding-bottom: 10px;
}



#chapters_pages_view .chapter .pages li:first-child {
margin-left:10px;

}

#chapters_pages_view .page-number{
background:#000; 
color:#fff;
padding:5px;
 font-size:13px;
 text-align:center;
 bottom:0px;
 right:0px; 
 vertical-align:bottom;
 position:absolute;
}

#chapters_pages_view .page.current_page {
	border-color: red!important;
}

#chapters_pages_view .page.current_page .page-number {
	background: red!important;
}


.chapter-title{
border-top:1px solid #bbb !important;
font-size:15px;
margin-top:15px;

margin-left:0;
font-weight: bold;
padding-top: 5px;
padding-left:5px;
display: block;
overflow:hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;  
background-color:transparent;
border:0;

}
.hidden-delete{
opacity: 0.01;
font-weight: normal;
}
.hidden-delete:hover{
opacity: 1;
}

.add-button-container{
position: fixed;
right: 0px;
color: #fff;
bottom: 33px;
width: 150px;
text-align:center;

background-color: #084f5f;
}

.add-button-page-template{
padding-top:10px;
position: fixed;
right: 150px;
color: #fff;
bottom: 0px;
max-height:600px;
min-height:300px;
width: 250px;
text-align:center;
background-color: #084f5f;
font-size:15px;
overflow-y:scroll;
text-align:center;
}

.add-button-page-template img{
margin: 5px; auto;
}


.add-button-cp{
padding: 5px 0px;
border-bottom: 2px solid #d1d2d4;
width: 150px;
float: left;
font-size:15px;
clear: both;
}

.add-button-cp:hover{
background-color:#0b6f7f;

}
	
/*chapter viewer styles */

	.create-book-container
{
	background-color:#056380;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align:center;
}
	
	
	
	
	/*login page */

.login-page-container
{
	background-color:#056380;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align:center;
}
	
.login-page-container-inside{
	padding: 20px;
	background:white;
	width:auto;
	height:auto;
	 position:absolute;
     top:50%;
     left:50%;
     margin:-150px 0 0 -150px;
   
	}
.login-header-img{
	background: url(loginlogo.png) center center no-repeat;
	background-size: contain;

	height:100px;
	
	}

	/*login page */


/* book list page*/


.book-list-continer{
position:relative ;
background-color: #056380;
padding:20px;
}

.book-list-box{
background: #f4f4f4;
width: 400px;
height: 200px;
float: left;
margin: 20px;
padding: 10px;
border: 2px solid #808284;
}

.book-list-box-book-cover{
width:112px;
height:170px;
background-color: #123456;
margin:10px;
float:left;
}

.book-list-box-text-container{
width: 260px;
height: 30px;
margin: 10px 5px 3px 0px;
float: left;
font-size:15px;
}
.book-list-textbox {
width: 120px;
height: 30px;
background-color: #e5e5e4;
border: 0;
padding-left: 10px;

}
 
.settings-box{
position: absolute;
background: #123456;
color: #ffffff;
padding: 5px;
width: 100px;
margin-top: 40px;
margin-left: 55px;
height: 150px;

}


.book-editors-options-box{
width: 100%;
display: none;
 height: 100%; 
 position: fixed; 
 vertical-align: middle; 
 background-color: rgba(34, 34, 34, 0.72);
}
.book-editors-options-box-container{
padding: 20px;

width:460px; 
height: 550px; 
background-color:#084f5f; 
color:#fff; 
margin-top:10%;
 text-align:left;
}
.book-editors-options-box-container .editor-list{
width:440px; 
height:430px; 
margin:10px auto;
overflow-y:scroll;
background-color:#fff; 
}
.book-editors-options-box-container .editor-list-item{
font-size:20px; 
padding:5px; 
height:27px; 
border-bottom:1px solid #333;
}
.editor-list-item .editor-name{
max-width:300px; 
text-overflow:ellipsis; 
overflow: hidden;
max-height:27px;
display: block;
white-space: nowrap;
color:#333; 
float:left;
}
.editor-list-item .delete-icon{
 padding-left: 10px;
 padding-top: 7px;
 float:right;
 vertical-align:middle;
 font-weight:normal;
 color:#cf5827;
}

	
#current_page .ui-draggable:hover {border: 1px dashed grey }
#current_page .ui-draggable:hover .dragging_holder{
background-color:grey; height:20px; width:100%; border: 1px dashed grey;cursor: move;
position: absolute; top: -23px; right: 0px;
} 



.guide{
    display: none; 
    position: absolute; 
    left: 0; 
    top: 0; 
}

#guide-h{
    border-top: 1px dashed #55f; 
    width: 100%; 
}

#guide-v{
    border-left: 1px dashed #55f; 
    height: 100%; 
}


.toolbox-items input[type=checkbox] {
   display:none;
}


.toolbox-items input[type=checkbox] + label{
  width:35px;
 height:25px;
 padding-top:8px;
 text-align:center; 
 display:inline-block;
 vertical-align:middle;
}


.toolbox-items input[type=checkbox]:checked + label{
   width:35px;
 height:25px;
 padding-top:8px;
 text-align:center; 
 display:inline-block;
 vertical-align:middle;
   background-color:#f7f7f7;
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(100, 100, 100, 100);
 box-shadow: inset 0px 0px 3px 0px rgba(100, 100, 100, 100);
}


.toolbox-items input[type=radio] {
   display:none;
}


.toolbox-items input[type=radio] + label{
  width:35px;
 height:25px;
 padding-top:8px;
 text-align:center; 
 display:inline-block;
 vertical-align:middle;
}


.toolbox-items input[type=radio]:checked + label{
   width:35px;
 height:25px;
 padding-top:8px;
 text-align:center; 
 display:inline-block;
 vertical-align:middle;
   background-color:#f7f7f7;
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(100, 100, 100, 100);
 box-shadow: inset 0px 0px 3px 0px rgba(100, 100, 100, 100);
}


.quiz-component{
outline: 10px solid rgb(235, 235, 235);
padding: 20px;
max-width: 400px;
}

.quiz-component div{
margin: 5px 0px;
font-weight:normal;
}

.quiz-component #question-text  {
font-weight:bold;
color:#084f5f;
}

.quiz-component #question-text  {
font-weight:bold;
color:#084f5f;
}

.quiz-component a{
float: right;
}

